canvas {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.position {
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    user-select: none;
}

.login {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: grey;
}

.login-form {
    width: 300px;
    padding: 30px;
    background: rgba(240, 238, 238, 0.836);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    border-radius: 20px;
    font-size: 2rem;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    background: none;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
    color: black;
    padding: 9px;
    margin: 30px auto;
    text-align: center;
    width: 170px;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    border: 2px solid rgb(52, 255, 1);
}

.login-form input[type="submit"] {
    padding: 7px 20px;
    background-color: #4CAF50;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    color: white;
    width: 170px;
}

.login-form i {
    position: absolute;
    margin: 35px 0px 0px -35px;
}

#username_error,
#password_error {
    width: 60%;
    padding: 10px 0;
    text-align: center;
    background-color: rgb(253, 5, 5);
    border-radius: 24px;
    margin-left: 20%;
    font-size: 40%;
    display: none;
}

Button {
    position: fixed;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%, -10%);
    border-radius: 40px;
    background-color: white;
    user-select: none;
}

.title {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        color: red;
    }
    25% {
        color: yellow;
    }
    50% {
        color: blue;
    }
    100% {
        color: greenyellow;
    }
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    user-select: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.about {
    margin-left: 17%;
    padding: 1px 16px;
    height: 1000px;
}

.img {
    size: 20px;
}